.justify-content-center{

    .user-name-input{
        border: none !important;
        border-bottom: 2px solid white !important;
        background-color: #282c34 !important;
        color: white !important;
        text-align: center !important;
        width: 80px;
        border-radius: 0 !important;
        font-size: 20px;
    }
    .user-name-input:focus,
    .btn-user-name:focus{
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .btn-user-name{
        border: none !important;
        border-bottom: 2px solid white !important;
        background-color: #282c34 !important;
        color: white !important;
        border-radius: 0 !important;
        font-size: 20px;
    }
    .btn-user-name:hover{
        color: #16a085 !important;
    }
}